{% extends 'base.html' %}
{% load static %}
{% load custom_tag %}

{## 导航条使用：1.加载自定义标签；2.使用block；3.views.py传入#}
{% block Navigation %}
    {% navigation categories cur_user_name columns %}
{% endblock %}
{% block content %}
    <div class="container col-md-8 offset-md-2" style="min-height:300px;">
        <nav class="my-2 p-0" aria-label="breadcrumb">

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" class="">首页</a></li>
                <li class="breadcrumb-item active" aria-current="page">关于</li>
            </ol>
        </nav>
        <div class="pb-2" style="background-color: hsla(0,0%,100%,.7);">
            <div class="py-4">
                <span class="clearfix"><i class="fa fa-quote-left float-left" aria-hidden="true"></i></span>
                <span class="d-block text-center" style="font-size: 18px;font-family: STXingkai;">生前何必久睡，死后自会长眠！</span>
                <span class="clearfix"><i class="fa fa-quote-right float-right" aria-hidden="true"></i></span>
            </div>
            <style>
                .introduction {
                    align-items: center;
                }

                .introduction img {
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1);
                    border: 4px solid gainsboro;
                    width: 100px;
                    height: 100px;
                    margin-left: 20px;
                }

                .introduction div {
                    margin-left: 20px;
                    font-family: auto;
                }

                .introduction .list-group-item {
                    background-color: inherit;
                }

                @media (max-width: 768px) {

                    .introduction {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                }
            </style>
            <div class="d-md-flex introduction">
                <img src="{{ url }}" class="rounded-circle xwcms">
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa fa-address-card fa-lg mr-4" aria-hidden="true"></i>生前何必久睡，死后自会长眠！
                        </li>
                        <li class="list-group-item"><i class="fa fa-envelope fa-lg mr-4" aria-hidden="true"></i><a
                                href="mailto:1570140958@qq.com" class="text-reset ">1570140958@qq.com（邮我ˉ﹃ˉ）</a></li>
                        <li class="list-group-item" style="border-bottom: 1px solid rgba(0,0,0,.125);"><i
                                class="fa fa-qq fa-lg mr-4" aria-hidden="true"></i><a
                                href="tencent://message/?uin=1570140958" class="text-reset ">1570140958(点此私聊我๑乛◡乛๑)</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="segments px-3 mt-5">

                <div class="segment" style="background-color: hsla(0,0%,100%,.7);">
                    <div class="label"><span class="text-white">关于博主</span></div>
                    <div class="markdown">
                        {{ about.me | safe }}

                    </div>
                </div>

                <div class="segment" style="background-color: hsla(0,0%,100%,.7);">
                    <div class="label"><span class="text-white">关于本站</span></div>
                    <div class="markdown">

                         {{ about.site | safe }}

                    </div>
                </div>

                <div class="segment" style="background-color: hsla(0,0%,100%,.7);">
                    <div class="label"><span class="text-white">本站声明</span></div>
                    <div class="markdown">
                        <ul class=" list-paddingleft-2" style="list-style-type: square;">
                            {{ about.promise | safe }}

                        </ul>
                    </div>
                </div>

            </div>


        </div>


    </div>
{% endblock %}
