{% extends 'base.html' %}
{% load static %}
{% load custom_tag %}

{## 导航条使用：1.加载自定义标签；2.使用block；3.views.py传入#}
{% block Navigation %}
    {% navigation categories cur_user_name columns %}
{% endblock %}

{% block content %}
<!--主内容-start--->
<main role="main">
  <div class="container col-md-8 offset-md-2">
	<nav class="my-2 p-0" aria-label="breadcrumb">
		  <ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.html">首页</a></li>
			<li class="breadcrumb-item active" aria-current="page">文章归档</li>
		  </ol>
	</nav>

<div class="article-archive bg-white p-4" id="article-archive">


{% regroup dates by year as dates_by_year %}


{% for mouth in dates_by_year %}
    {% for datetimes in mouth.list %}
          <div class="item">
    <div class="article-month" id="heading-{{ datetimes | date:'Y-m' }}" data-toggle="collapse" data-target="#collapse-{{ datetimes | date:'Y-m' }}" aria-expanded="true" aria-controls="collapse-{{ datetimes | date:'Y-m' }}">

        <span class="panel">{{ mouth.grouper }}年{{ datetimes.month }}月</span>
		<svg viewbox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M21.6 772.8c28.8 28.8 74.4 28.8 103.2 0L512 385.6 899.2 772.8c28.8 28.8 74.4 28.8 103.2 0 28.8-28.8 28.8-74.4 0-103.2l-387.2-387.2-77.6-77.6c-14.4-14.4-37.6-14.4-51.2 0l-77.6 77.6-387.2 387.2c-28.8 28.8-28.8 75.2 0 103.2z"></path></svg>
    </div>


    <div id="collapse-{{ datetimes | date:'Y-m' }}" class="collapse" aria-labelledby="heading-{{ datetimes | date:'Y-m' }}" data-parent="#article-archive">
         <ul class="list-group list-group-flush">
{{ datetimes | archive | safe }}

</ul>





    </div>
  </div>


    {% endfor %}
{% endfor %}


</div>

  </div>
</main>

{% endblock %}
