{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/plain" rel="author" href="{% static 'human.txt' %}"/>

    <title>
        {% block title %}
    大聪明的个人博客
        {% endblock %}
    </title>

    {% block meta %}
        <meta name="description" content="大聪明博客平台，主要学习django,java,Spring,python">
        <meta name="keywords" content="大聪明博客平台，django,java,Spring,python">
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static 'image/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/hover-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'css/dist_APlayer.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pio.css' %}">




    {% block css %}
{#        <style>#}
{#        body{#}
{#            background:url("{% static 'image/bg_dark.gif' %}");#}
{#        }#}
{#        </style>#}
    {% endblock %}


</head>

<body class="animated white">
{% block Navigation %}
    <!--导航条-start-->

    <!--导航条-end-->
{% endblock %}



<!--主内容-start--->
<main role="main">

    <!--上小半部分start--->
    <div style="position:relative;">
        <!--阴影层-start-->
        <div class="jumbotron-overlay"></div>
        <!--阴影层-end-->
        <!--巨幕-start-->
        <div class="jumbotron new-jumbotron"
             style="background-image:url('{% static 'image/dvy2pldhdxqdvy2pldhdxq.jpg' %}');background-position: 50% 30%;">

            <div class="container text-center cover-desc">
                <p>
                    <font size="6" face="华文行楷" color="#fff">衣带渐宽终不悔</font><br>
                    <font size="6" face="华文行楷" color="#fff">为伊消得人憔悴</font>
                </p>
                <button type="button" class="btn btn-outline-success rounded-pill text-reset" id="start-view"><i
                        class="fa fa-angle-double-down mr-2" aria-hidden="true"></i>开始浏览
                </button>
            </div>

        </div>
    </div>
    <!--上小半部分end--->


    {% block content %}
        <!--主内容-start--->

        <!--左边内容区-start-->
        <p>内容</p>
        <!--左边内容区-end-->

        <!--分页栏-start-->
        <!--分页栏-end-->
    {% endblock %}


    {% block aside %}

        <!--侧边栏-start-->

        <!--侧边栏-end-->
    {% endblock %}


    <!--主内容-end--->


</main>

<div id="player"  class="aplayer"></div>
<footer>
    <div id="footer">

        <div class="web-tool text-center">


            <div class="box-gotop">
                <div class="btn-gotop" data-toggle="tooltip" title="回到顶部">
                    <i class="fa fa-chevron-up"></i>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="my-3 col-md-6 offset-md-3 text-center">
                    <p class="text-muted">©2021 <a href="/" class="text-white-50 ">大聪明&#039;s Blog</a>
                        <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank"
                           class="text-white-50 ">本网站由<img src="{% static 'image/you.png' %}">又拍云提供CDN加速/云存储服务</a>
                        <a id="StranLink" class="text-white-50 ">繁體切换</a>
                        |
                        <a href="javascript:;" target="_blank" rel="nofollow" class="text-white-50 ">站点地图</a><br>
                        {#                            友盟站点数据统计#}
                        {#                            <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1277508844'%3E%3C/span%3E%3Cscript src='申请的链接' type='text/javascript'%3E%3C/script%3E"));</script>#}
                        |本站已运行<span id="web-time"></span><br>

                        <a href="javascript:;" rel="external nofollow" target="_blank" class="text-white-50 ">
                            <i class="govimg"></i>xICP备xxxxx号
                        </a>
                    </p>
                    <style>#cnzz_stat_icon_1277508844 a {
                        color: #6c757d !important;
                        text-decoration: none
                    }</style>
                </div>
            </div>
        </div>
    </div>
</footer>


<div id="rightClickMenu">
    <ul class="list-group rightClickMenuList">
        <li class="list-group-item list-group-item-secondary">欢迎访问大聪明博客</li>
        <li class="list-group-item"><span>博主：</span>大聪明</li>
        <li class="list-group-item"><span>邮箱：</span>libo_sober@163.com</li>
        <li class="list-group-item"><span>微信：</span>soberwx</li>
        <li class="list-group-item"><span>QQ：</span>SoberLee</li>
    </ul>
</div>


<!-- 灯笼1 -->
<div class="deng-box box-1">
    <div class="deng">
        <div class="xian"></div>
        <div class="deng-a">
            <div class="deng-b">
                <div class="deng-t">富</div>
            </div>
        </div>
        <div class="shui shui-a">
            <div class="shui-c"></div>
            <div class="shui-b"></div>
        </div>
    </div>
</div>

<!-- 灯笼2 -->
<div class="deng-box box-2">
    <div class="deng">
        <div class="xian"></div>
        <div class="deng-a">
            <div class="deng-b">
                <div class="deng-t">强</div>
            </div>
        </div>
        <div class="shui shui-a">
            <div class="shui-c"></div>
            <div class="shui-b"></div>
        </div>
    </div>
</div>

<!-- 灯笼3 -->
<div class="deng-box box-3">
    <div class="deng">
        <div class="xian"></div>
        <div class="deng-a">
            <div class="deng-b">
                <div class="deng-t">民</div>
            </div>
        </div>
        <div class="shui shui-a">
            <div class="shui-c"></div>
            <div class="shui-b"></div>
        </div>
    </div>
</div>


<!-- 灯笼4 -->
<div class="deng-box box-4">
    <div class="deng">
        <div class="xian"></div>
        <div class="deng-a">
            <div class="deng-b">
                <div class="deng-t">主</div>
            </div>
        </div>
        <div class="shui shui-a">
            <div class="shui-c"></div>
            <div class="shui-b"></div>
        </div>
    </div>
</div>
{#看板娘容器#}
<div class="pio-container right">
    <div class="pio-action"></div>
    <canvas id="pio" width="200" height="250"></canvas>
</div>
{% block js %}
{% endblock %}
</body>

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/jquery.form.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/qrcode.min.js' %}"></script>
{#<script src="{% static 'js/lazyload.min.js' %}"></script>#}


<script type="text/javascript" color="255,69,0" opacity='0.7' zindex="-1" count="100"
        src="{% static 'js/canvas-nest.min.js' %}"></script>

<!--输入框烟花特效--->
<script type="text/javascript" src="{% static 'js/commentTyping.js' %}"></script>

<!--sweet弹框-->
<script src="{% static 'js/sweetalert-dev.js' %}"></script>

<script src="{% static 'js/zh-cn-tw.js' %}"></script>
<script src="{% static 'js/blog.js' %}"></script>
{#<script src="{% static 'js/grayscale.js' %}"></script>#}

{#禁用开发者工具#}
{#<script src='{% static 'js/disable-devtool.min.js' %}'></script>#}


<script>
    DisableDevtool({disableMenu: false})
    loadRightMenu();
</script>
<script>
    grayscale($("body"));
</script>


<script>

    document.addEventListener('visibilitychange', function () {
        if (document.visibilityState == 'hidden') {
            normal_title = document.title;
            document.title = '(つェ⊂)我藏好了哦 ';
        } else {
            document.title = normal_title;
        }
    });

    setInterval("createtime()", 250);

    document.body.oncopy = function () {
        swal({
                title: '复制成功,如转载请注明出处！',
                type: 'success',  //展示成功的图片
                timer: 1000,  //延时毫秒数
                showConfirmButton: false  //关闭确认框
            },
            {#  function () {#}
            {#  //console.log("登录失败");#}
            {#  //刷新当前页面#}
            {#  window.location.reload();#}
            {#}#}
        );
        {#Swal.fire({allowOutsideClick:false,type:'success',title: '复制成功,如转载请注明出处！',showConfirmButton: false,timer: 2000});#}
    };
    //document.body.oncopy = function() {layer.msg('复制成功,若要转载请务必保留原文链接！', function(){});};
    loadNeedTime();
</script>
<!-- www.yawzhou.cn -->
<!--start浮动小人-->
{#<script type="text/javascript" src="{% static 'js/spig.js' %}"></script>#}
{#<style>#}
{#    .spig {#}
{#        display: block;#}
{#        width: 130px;#}
{#        height: 170px;#}
{#        position: absolute;#}
{#        bottom: 300px;#}
{#        left: 160px;#}
{#        z-index: 9999;#}
{#    }#}
{##}
{#    #message {#}
{#        color: #191919;#}
{#        border: 1px solid #c4c4c4;#}
{#        background: #ddd;#}
{#        -moz-border-radius: 5px;#}
{#        -webkit-border-radius: 5px;#}
{#        border-radius: 5px;#}
{#        min-height: 1em;#}
{#        padding: 5px;#}
{#        top: -45px;#}
{#        position: absolute;#}
{#        text-align: center;#}
{#        width: auto !important;#}
{#        z-index: 10000;#}
{#        -moz-box-shadow: 0 0 15px #eeeeee;#}
{#        -webkit-box-shadow: 0 0 15px #eeeeee;#}
{#        border-color: #eeeeee;#}
{#        box-shadow: 0 0 15px #eeeeee;#}
{#        outline: none;#}
{#    }#}
{##}
{#    .mumu {#}
{#        width: 130px;#}
{#        height: 170px;#}
{#        cursor: move;#}
{#        background: url({% static 'images/spig0.png' %}) no-repeat;#}
{#    }#}
{##}
{#    @media (max-width: 560px) {#}
{#        .spig {#}
{#            display: none;#}
{#        }#}
{#    }#}
{#</style>#}
{#<div id="spig" class="spig">#}
{#    <div id="message">加载中……</div>#}
{#    <div id="mumu" class="mumu"></div>#}
{#</div>#}
<!--end浮动小人-->


{#就可以实现博客里面的小人效果了#}
{#<script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>#}
{#<!--小帅哥： https://unpkg.com/live2d-widget-model-chitose@1.0.5/assets/chitose.model.json-->#}
{#<!--萌娘：https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json-->#}
{#<!--小可爱（女）：https://unpkg.com/live2d-widget-model-koharu@1.0.5/assets/koharu.model.json-->#}
{#<!--小可爱（男）：https://unpkg.com/live2d-widget-model-haruto@1.0.5/assets/haruto.model.json-->#}
{#<!--初音：https://unpkg.com/live2d-widget-model-miku@1.0.5/assets/miku.model.json-->#}
{#https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json#}
{#<!-- 上边的不同链接显示的是不同的小人，这个可以根据需要来选择 下边的初始化部分，可以修改宽高来修改小人的大小，或者是鼠标移动到小人上的透明度，也可以修改小人在页面出现的位置。 -->#}
{#<script>#}
{#    /*https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json*/#}
{#    L2Dwidget.init({#}
{#            "model": {#}
{#                jsonPath:#}
{#                    "https://unpkg.com/live2d-widget-model-koharu@1.0.5/assets/koharu.model.json",#}
{#                "scale": 1#}
{#            },#}
{#            "display": {#}
{#                "position": "right", "width": 110, "height": 150,#}
{#                "hOffset": 0, "vOffset": -20#}
{#            },#}
{#            "mobile": {"show": true, "scale": 0.5},#}
{#            "react": {"opacityDefault": 0.8, "opacityOnHover": 0.1},#}
{#            "dialog": {#}
{#                "enable": true,#}
{#                "script": {#}
{#                    //每20s，显示一言（调用一言Api返回的句子）#}
{#                    'every idle 20s': '$hitokoto$',#}
{#                    //触摸到class='star'对象#}
{#                    'hover .star': '星星在天上而你在我心里 (*/ω＼*)',#}
{#                    //触摸到身体#}
{#                    'tap body': '害羞⁄(⁄ ⁄•⁄ω⁄•⁄ ⁄)⁄',#}
{#                    //触摸到头部#}
{#                    'tap face': '~~'#}
{#                }#}
{#            },#}
{#        }#}
{#    );#}
{#</script>#}
{#<span class="hitokoto" id="hitokoto" style="display:none">Loading...</span>#}
{#<div id="hjsbox" style="display:none">#}
{#</div>#}
{##}
{#<!--导入一言API-->#}
{#<script>#}
{#    //初始化一言#}
{#    setTimeout("getkoto()", 1000);#}
{#    //加载一言#}
{#    var t;#}
{##}
{#    function getkoto() {#}
{#        var hjs = document.createElement('script');#}
{#        hjs.setAttribute('id', 'hjs');#}
{#        hjs.setAttribute('src', 'https://v1.hitokoto.cn/?c=f&encode=text');#}
{#        document.getElementById("hjsbox").appendChild(hjs);#}
{#        t = setTimeout("getkoto()", 2000);#}
{#    }#}
{##}
{#    //输出一言#}
{#    function echokoto(result) {#}
{#        var hc = eval(result);#}
{#        //$("#hitokoto").fadeTo(300,0);#}
{#        document.getElementById("hitokoto").innerHTML = hc.hitokoto;#}
{#        //$("#hitokoto").fadeTo(300,0.75);#}
{#    }#}
{#</script>#}

<script src="{% static 'js/pio.js' %}"></script>
<script src="{% static 'js/l2d.js' %}"></script>
<script>

    function night(data){
        document.body.setAttribute('data-theme', 'dark')
        document.body.classList.remove('white')
        document.body.classList.add('dark')

    }




    var pio = new Paul_Pio({
    "mode": "fixed",
     "tips": true,
    "hidden": true,
    "content": {
        "welcome": ["欢迎来到大聪明博客！", "今天天气不错，一起来玩吧！", "博主每天都有些折腾记录，欢迎前往他的小窝阅读~"],
        "custom": [
            {"selector": ".comment-form", "text": "欢迎参与本文评论，别发小广告噢~"},
            {"selector": ".home-about", "text": "在这里可以了解博主的日常噢~"},
            {"selector": ".RSS", "text": "在这里可以订阅博主噢~"},
            {"selector": ".post-item a", "type": "read"},
            {"selector": ".post-content a, .page-content a", "type": "link"}
        ]
    },
    "night": "night()",
    "model": ["{% static 'models/koharu/model.json' %}"]

});
</script>

{#夜间模式#}
{#<script type="text/javascript">#}
{#function switchNightMode(){#}
{#    var night = document.cookie.replace(/(?:(?:^|.*;\s*)night\s*\=\s*([^;]*).*$)|^.*$/, "$1") || '0';#}
{#    if(night == '0'){#}
{#        document.body.classList.add('night');#}
{#        document.cookie = "night=1;path=/"#}
{#        console.log('夜间模式开启');#}
{#    }else{#}
{#        document.body.classList.remove('night');#}
{#        document.cookie = "night=0;path=/"#}
{#        console.log('夜间模式关闭');#}
{#    }#}
{#} (function(){#}
{#    if(document.cookie.replace(/(?:(?:^|.*;\s*)night\s*\=\s*([^;]*).*$)|^.*$/, "$1") === ''){#}
{#        if(new Date().getHours() > 22 || new Date().getHours() < 5){#}
{#            document.body.classList.add('night');#}
{#            document.cookie = "night=1;path=/";#}
{#            console.log('夜间模式自动开启');#}
{#        }else{#}
{#            document.body.classList.remove('night');#}
{#            document.cookie = "night=0;path=/";#}
{#            console.log('夜间模式自动关闭');#}
{#        }#}
{#    }else{#}
{#        var night = document.cookie.replace(/(?:(?:^|.*;\s*)night\s*\=\s*([^;]*).*$)|^.*$/, "$1") || '0';#}
{#        if(night == '0'){#}
{#            document.body.classList.remove('night');#}
{#        }else if(night == '1'){#}
{#            document.body.classList.add('night');#}
{#        }#}
{#    }#}
{# })();</script> #}
{#<script>#}
{#function switchNightMode(){#}
{#    var night = document.cookie.replace(/(?:(?:^|.*;\s*)night\s*\=\s*([^;]*).*$)|^.*$/, "$1") || '0';#}
{#    if(night == '0'){#}
{#        document.body.classList.add('night');#}
{#        document.cookie = "night=1;path=/"#}
{#        console.log('夜间模式开启');#}
{#     }else{#}
{#        document.body.classList.remove('night');#}
{#        document.cookie = "night=0;path=/"#}
{#        console.log('夜间模式关闭');#}
{#     }#}
{#}#}
{#</script>#}

{#音乐#}
{#<script src="{% static 'js/dist_APlayer.min.js' %}"></script>#}
{#<script>#}
{#const ap = new APlayer({#}
{#    container: document.getElementById('player'),#}
{#    fixed: true,#}
{#    autoplay: true, //自动播放#}
{#    audio: [{#}
{#        name: 'The Song Of Doremi',#}
{#        artist: '林澜叶',#}
{#        url: 'http://music.163.com/song/media/outer/url?id=1358848433',#}
{#        cover: 'http://p1.music.126.net/Ax-zrmAPBrASWxT92t3fdw==/109951164000242827.jpg?param=130y130',#}
{#    },#}
	{#{#}
 	{#	name: '阳光甚好，微风不噪',#}
    {#    artist: '何石',#}
    {#    url: '.mp3',#}
    {#    cover: '.ico',#}
	{# } #}
{##}
{#	]#}
{#});#}
{#ap.init();#}
{#</script>#}







</html>
