{% extends 'index.html' %}

{% block content %}

      <div class="container">
    <div class="row">
	<section class="col-sm-12 col-md-12 col-lg-8 index" id="main">

    {% for article in categories_all_articles %}
        <article class="d-block bg-white hvr-float">

    <div class="media d-block">
    <!--左上文章封面图-start-->
    <div class="article-thumb"><a href="{% url 'detail' article.id %}"><img src="{{ article.cover }}" class="mr-3"></a></div>
    <!--左上文章封面图-end-->

    <!--右上文章概要内容-start-->
    <div class="media-body py-3 pl-1 overflow-hidden">
        <div class="index-article-header">
            <a href="datail.html" class="label ">{{ article.category }}<i class="position-absolute c-arrow"></i></a>
            <h2 class="d-inline article-title"><a href="{% url 'detail' article.id %}" class="text-dark">{{ article.title }}</a></h2>
            {% if article.is_recommend == 1 %}
            <span class="new-icon">置顶</span>
            {% endif %}
        </div>

        <div class="article-summary">

            <p class="text-wrap text-secondary">{{ article.desc }}</p>

        </div>
    </div>
    <!--右上文章概要内容-end-->

    <!--文章相关参数-start-->
    <div class="article-relative-meta">

        <span class="float-left">
            {% if article.is_recommend == 1 %}

            <a href="{% url 'detail' article.id %}"><i class="fa fa-calendar c4"></i>{{ article.add_time | date:"Y-m-d"}}</a>

                {% elif article.is_recommend == 0 %}
                <a href="{% url 'detail' article.id %}"><i class="fa fa-calendar c4"></i>{{ article.add_time | date:"Y-m-d"}}</a>
            {% endif %}
            <a href="{% url 'detail' article.id %}"><i class="fa fa-comments c5"></i>评论</a>
            <a href="{% url 'detail' article.id %}"><i class="fa fa-eye c6"></i>{{ article.click_count }}阅读</a>
        </span>
        <span class="visible-xs float-left">
            <a href="datail.html#post-like"><i class="fa fa-heart c7"></i>4喜欢</a>
            <a href=""><i class="fa fa-user c8"></i>大聪明</a>
        </span>
        <span class="float-right">
            <a class="mr-0" href="{% url 'detail' article.id %}" title="阅读全文">阅读全文<i class="fa fa-chevron-circle-right"></i></a>
        </span>
    </div>
    <!--文章相关参数-end-->
    </div>
 </article>

    {% endfor %}
    {{ page_html }}
    </section>
{% endblock %}
{#写上下边的两个div只是不让他显示红色，并不起任何作用，删掉也无所谓#}
</div>
</div>