{% extends 'base.html' %}
{% load static %}
{% load custom_tag %}

{## 导航条使用：1.加载自定义标签；2.使用block；3.views.py传入#}
{% block Navigation %}
    {% navigation categories cur_user_name columns %}
{% endblock %}

{% block content %}

<!--主内容-start--->
<main role="main">
  <div class="container col-md-8 offset-md-2">
	<nav class="my-2 p-0" aria-label="breadcrumb">
		  <ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.html">首页</a></li>
			<li class="breadcrumb-item active" aria-current="page">友链</li>
		  </ol>
	</nav>
	<div class="link-related">
		<div class="card">
			<h4 class="link-title">我的友链</h4>
			<div class="card-body py-0">
				<ul class="list-group list-group-flush">
				  <li class="list-group-item">名称：未雨晴空</li>
				  <li class="list-group-item">主页：https://www.oneisall.top</li>
				  <li class="list-group-item">头像：https://www.oneisall.top/static/images/avatar.jpg</li>
				  <li class="list-group-item">描述：执着于理想，纯粹于当下。</li>
				</ul>
			</div>
		</div>
		<div class="card">
			<h4 class="link-title">友链申请格式</h4>
			<div class="card-body py-0">
				<ul class="list-group list-group-flush">
				  <li class="list-group-item">名称：</li>
				  <li class="list-group-item">主页：</li>
				  <li class="list-group-item">头像：</li>
				  <li class="list-group-item">描述：</li>
				</ul>
			</div>
		</div>
        <div class="card">
			<h4 class="link-title text-danger">注意事项</h4>
			<div class="card-body py-0">
				<p>1.站点为个人博客且非盈利性目的；</p>
                <p>2.文章有一定程度的更新（添加后有无更新无妨）；</p>
                <p>3.站点不涉及可能引起版权纠纷的内容，不涉及与政治话题有关的内容；</p>
                <p>4.请确保主页以及头像的地址正常访问；</p>
				<p style="text-align: center;color: red">不定期会移除无法访问的友链,如有误删，请联系博主，谢谢</p>
			</div>
		</div>

        <div class="card">
			<h4 class="link-title text-danger">邻居们</h4>
			<div class="card-body py-0 friend">



            <ul class="px-2 py-2 position-relative;">

                <li class="px-0 hvr-sweep-to-right">
                    <a href="javascript:;" class="text-decoration-none w-100% text-center" rel="nofollow" target="_blank">
                        <div class="text-center">
                            <img src="static/picture/myself.jpeg" class="mr-3 rounded-circle xwcms " alt="" width="64px" height="64px" onerror="javascript:this.src='{% static 'image/unknow.png' %}';">
                            <h3>杜赛的个人网站</h3>
                        </div>

                    </a>
                </li>

                <li class="px-0 hvr-sweep-to-right">
                    <a href="javascript:;" class="text-decoration-none w-100% text-center" rel="nofollow" target="_blank">
                        <div class="text-center">
                            <img src="static/picture/94b6a687ly8ffxik7sf1aj20ku0ku763.jpg" class="mr-3 rounded-circle xwcms " alt="" width="64px" height="64px" onerror="javascript:this.src='{% static 'image/unknow.png' %}';">
                            <h3>追梦人物的博客</h3>
                        </div>

                    </a>
                </li>



            </ul>


			</div>
		</div>


	</div>
  </div>
</main>

{% endblock %}

