
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>书单</title>


<meta name="description" content="开始于兴趣，沦陷于编程，钟情于电影，沉醉">


<meta name="keywords" content="django,java,Spring,python">




<script src="static/js/jquery-3.4.1.min.js"></script>
<script src="static/js/jquery.form.min.js"></script>



<link rel="stylesheet" href="static/css/font-awesome.css">



<link rel="stylesheet" href="static/css/bootstrap.min.css">
<script src="static/js/bootstrap.bundle.min.js"></script>






<link rel="stylesheet" href="static/css/jquery.fancybox.min.css">
<script src="static/js/jquery.fancybox.min.js"></script>



<script src="static/js/qrcode.min.js"></script>


<script src="static/js/lazyload.min.js"></script>






    <meta name="referrer" content="never">
    <link rel="stylesheet" href="static/css/DoubanBoard.css">
<script src="static/js/DoubanBoard.js"></script>





<link rel="stylesheet" href="static/css/blog.css">
<link rel="stylesheet" href="static/css/hover-min.css">
<script src="static/js/blog.js"></script>






</head>


<body class="animated">
<!--导航条-start-->
<header>



<nav class="navbar fixed-top navbar-expand-xl navbar-light t-navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <a class="navbar-brand  text-white" href="index.html">未雨晴空博客</a>
    
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        
        
        
        
        
             

<li class="nav-item dropdown">
    <a class="nav-link text-white" id="life" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
    <i class="fa-fw fa fa-pencil-square-o" aria-hidden="true"></i>笔记</a>
    
    <div class="dropdown-menu text-white" aria-labelledby="life">
    
        <a class="dropdown-item text-white" href="talk-book.html"><i class="fa-fw fa fa-coffee" aria-hidden="true"></i>&nbsp;&nbsp;书评</a>
    
        <a class="dropdown-item text-white" href="talk-movie.html"><i class="fa-fw fa fa-coffee" aria-hidden="true"></i>&nbsp;&nbsp;影评</a>
    
    </div>
    
</li>

        
             

<li class="nav-item dropdown">
    <a class="nav-link text-white" id="program" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
    <i class="fa-fw fa fa-list" aria-hidden="true"></i>编程</a>
    
    <div class="dropdown-menu text-white" aria-labelledby="program">
    
        <a class="dropdown-item text-white" href="frontend.html"><i class="fa fa-bandcamp" aria-hidden="true"></i>&nbsp;&nbsp;前端</a>
    
        <a class="dropdown-item text-white" href="backend.html"><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;&nbsp;后端</a>
    
        <a class="dropdown-item text-white" href="database.html"><i class="fa fa-database" aria-hidden="true"></i>&nbsp;&nbsp;数据库</a>
    
        <a class="dropdown-item text-white" href="test.html"><i class="fa fa-university" aria-hidden="true"></i>&nbsp;&nbsp;建站教程</a>
    
        <a class="dropdown-item text-white" href="operation.html"><i class="fa fa-server" aria-hidden="true"></i>&nbsp;&nbsp;系统运维</a>
    
    </div>
    
</li>

        
             

<li class="nav-item dropdown">
    <a class="nav-link text-white" id="frame" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
    <i class="fa-fw fa fa-university" aria-hidden="true"></i>框架</a>
    
    <div class="dropdown-menu text-white" aria-labelledby="frame">
    
        <a class="dropdown-item text-white" href="django.html"><i class="fa fa-server" aria-hidden="true"></i>&nbsp;&nbsp;django</a>
    
        <a class="dropdown-item text-white" href="spring-boot.html"><i class="fa fa-server" aria-hidden="true"></i>&nbsp;&nbsp;spring boot</a>
    
    </div>
    
</li>

        
             

<li class="nav-item dropdown">
    <a class="nav-link text-white" id="resource" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
    <i class="fa-fw fa fa-share-alt-square" aria-hidden="true"></i>资源</a>
    
    <div class="dropdown-menu text-white" aria-labelledby="resource">
    
        <a class="dropdown-item text-white" href="skill.html"><i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;插件教程</a>
    
        <a class="dropdown-item text-white" href="share-media.html"><i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;资源分享</a>
    
    </div>
    
</li>

        
             

<li class="nav-item dropdown">
    <a class="nav-link text-white" id="page" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
    <i class="fa-fw fa fa-bars" aria-hidden="true"></i>媒体</a>
    
    <div class="dropdown-menu text-white" aria-labelledby="page">
    
        <a class="dropdown-item text-white" href="index1.html"><i class="fa fa-film" aria-hidden="true"></i>&nbsp;&nbsp;影单</a>
    
        <a class="dropdown-item text-white" href=""><i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;书单</a>
    
        <a class="dropdown-item text-white" href="index3.html"><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;&nbsp;图集</a>
    
    </div>
    
</li>

        
             

<li class="nav-item ">
    <a class="nav-link text-white" href="index4.html" id="archive" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-archive" aria-hidden="true"></i>归档</a>
    
</li>

        
             

<li class="nav-item ">
    <a class="nav-link text-white" href="index5.html" id="friend" aria-haspopup="true" aria-expanded="false">
    <i class="fa-fw fa fa-chain" aria-hidden="true"></i>友链</a>
    
</li>

        
             

<li class="nav-item ">
    <a class="nav-link text-white" href="index6.html" id="message" aria-haspopup="true" aria-expanded="false">
    <i class="fa-fw fa fa-comments" aria-hidden="true"></i>留言</a>
    
</li>

        
             

<li class="nav-item ">
    <a class="nav-link text-white" href="index7.html" id="about" aria-haspopup="true" aria-expanded="false">
    <i class="fa-fw fa fa-user-secret" aria-hidden="true"></i>关于</a>
    
</li>

        
        
        </ul>
        
        <form class="form-inline my-2 my-lg-0" method="get" action="/article/article/search">
            
            <input class="form-control mr-sm-2 rounded-pill" type="text" placeholder="搜索本站文章" aria-label="Search" name="q">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
    </div>
    
    
    <a class="btn btn-outline-success my-2 my-sm-0 ml-lg-2" type="button" href="login-pagecategorybook.html">登陆</a>
    
</nav>



</header>
<!--导航条-end-->




<!--主内容-start--->
<main role="main">

    
        <div style="position:relative;">
    <!--阴影层-start-->
    <div class="jumbotron-overlay"></div>
    <!--阴影层-end-->
    <!--巨幕-start-->
    <div class="jumbotron new-jumbotron" style="background-image:url('static/image/cover3.jpg');background-position: 50% 30%;">
    <div class="container text-center cover-desc">
        <p>
            <font size="6" face="华文行楷" color="#fff">寄言燕雀莫相唣</font><br>
            <font size="6" face="华文行楷" color="#fff">自有云霄万里高</font>
        </p>
        <button type="button" class="btn btn-outline-success rounded-pill text-reset" id="start-view"><i class="fa fa-angle-double-down mr-2" aria-hidden="true"></i>开始浏览</button>
    </div>
    </div>
</div>
    

    

<!--主内容-start--->
  <div class="container">
    <div class="row">
	<!--左边内容区-start-->

	<section class="col-sm-12 col-md-12 col-lg-12" id="main">
		<!--面包屑-start-->
		<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html" class="">首页</a></li>
				<li class="breadcrumb-item active" aria-current="page">书单</li>
			  </ol>
		</nav>
		<!--面包屑-end-->
		<div class="bg-white article-content">
			<div class="notice-top"><b>网站公告：</b>欢迎光临本站书单</div>
			<div id="page-content">
                <h4 class="alert alert-danger">想读</h4><div data-status="wish" class="douban-book-list doubanboard-list"></div><h4 class="alert alert-success">在读</h4><div data-status="reading" class="douban-book-list doubanboard-list"></div><h4 class="alert alert-secondary">已读</h4><div data-status="read" class="douban-book-list doubanboard-list"></div><br>
			</div>
		</div>


            
	</section>
	<!--左边内容区-end-->
    

    </div>
  </div>
<!--主内容-end--->


<!--主内容-end--->
</main>



<footer>
	<div id="footer">
        
        <div class="web-tool text-center">

            
            <div class="box-gotop">
                <div class="btn-gotop" data-toggle="tooltip" title="回到顶部">
                    <i class="fa fa-chevron-up"></i>
                </div>
            </div>
        </div>
        
		<div class="container">
			<div class="row">
				<div class="my-3 col-md-6 offset-md-3 text-center">
						<p class="text-muted">©2020 <a href="" class="text-white-50 ">未雨晴空&#039;s Blog</a>.All Rights Reserved<br>
                            <a id="StranLink" class="text-white-50 ">繁體切换</a>
                                |
                            <a href="javascript:;" target="_blank" rel="nofollow" class="text-white-50 ">站点地图</a><br>
                            <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1277508844'%3E%3C/span%3E%3Cscript src='https://s23.cnzz.com/z_stat.php%3Fid%3D1277508844%26online%3D2' type='text/javascript'%3E%3C/script%3E"));</script>|本站已运行<span id="web-time"></span><br>
                            <a href="javascript:;" rel="external nofollow" target="_blank" class="text-white-50 ">
                            <i class="govimg"></i>皖ICP备20002742号
                            </a>
					    </p>
                        <style>#cnzz_stat_icon_1277508844 a{color: #6c757d!important;text-decoration: none}</style>
				</div>
			</div>
		</div>
	</div>
</footer>











<script type="text/javascript" color="255,69,0" opacity='0.7' zindex="-1" count="100" src="static/js/canvas-nest.min.js"></script>


<!--输入框烟花特效--->
<script type="text/javascript" src="static/js/commentTyping.js"></script>

<!--sweet弹框-->
<script src="static/js/sweetalert.js"></script>



<script src="static/js/zh-cn-tw.js"></script>


<div id="rightClickMenu">
  <ul class="list-group rightClickMenuList">
    <li class="list-group-item list-group-item-secondary">欢迎访问未雨晴空博客</li>
    <li class="list-group-item"><span>博主：</span>未雨晴空</li>
    <li class="list-group-item"><span>邮箱：</span>1510043719@qq.com</li>
    <li class="list-group-item"><span>微信：</span>未雨晴空</li>
    <li class="list-group-item"><span>QQ：</span>all_is_one_is_one</li>
  </ul>
</div>







<script src='static/js/disable-devtool.min.js'></script>
<script>
    DisableDevtool({disableMenu: false})
    loadRightMenu();
</script>



<script>
    
    document.addEventListener('visibilitychange',function(){if(document.visibilityState=='hidden'){normal_title=document.title;document.title='(つェ⊂)我藏好了哦 ';}else{document.title=normal_title;}});
    
    setInterval("createtime()",250);
    
    document.body.oncopy = function(){Swal.fire({allowOutsideClick:false,type:'success',title: '复制成功,如转载请注明出处！',showConfirmButton: false,timer: 2000});};
    //document.body.oncopy = function() {layer.msg('复制成功,若要转载请务必保留原文链接！', function(){});};
    loadNeedTime();
</script>


<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e9b3c4ff48473f2a3e422a69c1bc19c1";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>








<!-- 灯笼1 -->
<div class="deng-box box-1">
        <div class="deng">
                <div class="xian"></div>
                <div class="deng-a">
                        <div class="deng-b"><div class="deng-t">春</div></div>
                </div>
                <div class="shui shui-a"><div class="shui-c"></div><div class="shui-b"></div></div>
        </div>
</div>

<!-- 灯笼2 -->
<div class="deng-box box-2">
        <div class="deng">
                <div class="xian"></div>
                <div class="deng-a">
                        <div class="deng-b"><div class="deng-t">节</div></div>
                </div>
                <div class="shui shui-a"><div class="shui-c"></div><div class="shui-b"></div></div>
        </div>
</div>

<!-- 灯笼3 -->
<div class="deng-box box-3">
        <div class="deng">
                <div class="xian"></div>
                <div class="deng-a">
                        <div class="deng-b"><div class="deng-t">快</div></div>
                </div>
                <div class="shui shui-a"><div class="shui-c"></div><div class="shui-b"></div></div>
        </div>
</div>


<!-- 灯笼4 -->
<div class="deng-box box-4">
        <div class="deng">
                <div class="xian"></div>
                <div class="deng-a">
                        <div class="deng-b"><div class="deng-t">乐</div></div>
                </div>
                <div class="shui shui-a"><div class="shui-c"></div><div class="shui-b"></div></div>
        </div>
</div>

</body>

</html>
