<div class="comment">
    <div class='content' style='margin-left:0;'>
        <span>111</span>
        <div class="comment">
            <div class='content' style='margin-left:30;'>
                <span>555</span>
            </div>
        </div>
    </div>
    <div class='content' style='margin-left:0;'>
        <span>222</span>
        <div class="comment">
            <div class='content' style='margin-left:30;'>
                <span>444</span>
                <div class="comment">
                    <div class='content' style='margin-left:30;'>
                        <span>666</span>
                    </div>
                    <div class='content' style='margin-left:30;'>
                        <span>888</span>
                    </div>
                </div>
            </div>
            <div class='content' style='margin-left:30;'>
                <span>777</span>
            </div>
        </div>
    </div>
    <div class='content' style='margin-left:0;'>
        <span>33</span>
        <div class="comment"></div>
    </div>
</div>

